@media (min-width: 2000px) and (max-width: 5000px) {
    body .site {
        width: 1900px;
    }

    body .gameComponent {
        display: grid;
        grid-template-columns: 100px auto 400px;
        grid-template-rows: auto auto;
        grid-template-areas:
            "menu header-background header-background"
            "menu content sidebar"
    }
    
    body .game-mode .models .model {
        height: 300px;
    }

    body .chat-layout {
        display: grid;
        grid-template-columns: 100px auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "menu header-background"
            "menu chat";
    }
    
    body .achievement-grid {
        grid-template-columns: repeat(auto-fill, minmax(3   50px, 1fr)) ;
    }
}